html {background-color: #000000;}
body {font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;}
h1 {color: #000000;}
p {color: #FFF;}
body { padding : 1em 3em;
}

.title{ 
    text-align: center;
    position: relative;
}
.title h1{ 
    line-height: 96px;
    font-size: 96px;
    position:absolute;
    top: 135px;
    left: 720px;
}
.title p{
    position:absolute;
    top: 400px;
    left: 700px;
}
.update{
    margin: 14em auto;
    text-align: center;
    color: #FFF;
    /*border-bottom: 1px solid rgb(148, 53, 83);*/
}
.index{
    text-align: center;
    margin-bottom: 20em;
    margin-right: 30em;
}
